*{
    color:purple;
    text-align:center;
    
    
}

.quiz{
    text-align:center;
}

.intro li{
    text-align: center;
    list-style: none;

}

.alternatives {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
        
}

#highscores{
    text-align: left;
}

.timeCount {
    text-align:right;
    color:red;
}

.alternatives li {
    background-color:purple;
    color:white;
    width:fit-content;
    height:auto;
    border-radius: 0.2rem;
    cursor:pointer;
    justify-content: center;
    padding: 2px;
    margin: 5px;

}

#startQuiz {
    cursor:pointer;
}